.profilePic {
    width: 3rem;
    height: 3rem;
    background-color: #F9F9F9;
    border: 3.5px solid #6775F4;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 50%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.backArrow {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.outerBackAndProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.outerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94%;
}

.outerPage {
    display: flex;
    justify-content: center;
}

.outerContent {
    display: flex;
    justify-content: center;
}

.content{
    width:94%;
}

.outerPageTitle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgba(103, 117, 244, 0.34);
    border: 1px solid #6775F4;
    border-radius: 0.2rem;
    padding: 1.5vh 0;
    
}

.optionsMenu {

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}

.pageTitle {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.budget {
    background-color: rgba(249, 249, 249, 1);
    border-radius: 0.3rem;
    padding: 1vh;
    font-size: 1.15rem;
    font-weight: 500;
}

.outerLowerPart {
    display: flex;
    background-color: rgba(251, 251, 251, 1);
    flex-direction: column;
    box-shadow: 0px 25px 25px 0px rgba(39, 53, 160, 0.09), 0px 6px 14px 0px rgba(39, 53, 160, 0.10);
    row-gap: 2vh;
}

.filterAndSortBtns {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#transactions {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.outerTitleDateAndTag {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.searchWrapper {
    display: flex;
    justify-content: space-evenly;
}

.searchInput {
    width: 74.8vw;
    height: 5.96806vh;
    border-radius: 0.375rem;
    background: #FAF9F9;
    border: none;
}

.search__container {
    border-radius: 0.375rem;
    background-color: #D6D9F1;
    width: 95%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2.4vw;
    column-gap: 1.2vh;
    margin-top: 2vh;
}


.outerSortAndFilter {
    display: flex;
    justify-content: center;
}

.sortAndFilterBtns {
    display: flex;
    justify-content: flex-start;
    width: 95%;
    column-gap: 1vh;
}

.outerFilterOptions {
    display: flex;
    flex-direction: row;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 17px 5px 0px rgba(189, 189, 189, 0.00), 0px 11px 4px 0px rgba(189, 189, 189, 0.02), 0px 6px 4px 0px rgba(189, 189, 189, 0.06), 0px 3px 3px 0px rgba(189, 189, 189, 0.10), 0px 1px 1px 0px rgba(189, 189, 189, 0.12) rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 1);
    justify-content: center;
    width: 35%;
    padding: 0.8vh 0;
    z-index: 1000;
    position: absolute;
    margin-top: 4.3vh;
}

.dropDownOptionBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    /* text-decoration: underline; */
    /* line-height: 4vh; */
    /* border-bottom: 1px solid #000; */
    /* padding-bottom: 0.2vh; */
    padding: 0.6vh;
}

.filterOptions {
    display: flex;
    /* width: 95%; */
    flex-direction: column;
    align-content: flex-start;
    /* justify-content: flex-start; */
    align-items: flex-start;
}

.divider {
    height: 0.1vh;
    background-color: #D6D9F1;
    margin-bottom: 1vh;
    width:100%;
}

.outerFilterBtnAndOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sortBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.6vh;
    display: none;
}

#sortTrans {
    width: 150%;
}

.outerSortOptions {
    display: flex;
    flex-direction: row;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 17px 5px 0px rgba(189, 189, 189, 0.00), 0px 11px 4px 0px rgba(189, 189, 189, 0.02), 0px 6px 4px 0px rgba(189, 189, 189, 0.06), 0px 3px 3px 0px rgba(189, 189, 189, 0.10), 0px 1px 1px 0px rgba(189, 189, 189, 0.12) rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 1);
    width: 57%;
    padding: 2vh 0;
    z-index: 1000;
    position: absolute;
    margin-top: 4.3vh;
    justify-content: center;
}

.sortDivider {
    height: 0.1vh;
    background-color: #D6D9F1;
    margin-bottom: 1vh;
    width: 64%;
    margin: 1vh 0;
}

.outerDotsAndOptions {
    display: flex;
    flex-direction: row-reverse;
}

.optionsMenu {
    position: absolute;
    z-index: 3;
}

.closedAndOpenMenu {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: flex-start;
    column-gap: 1vh;
    z-index: 2;
}


.outerDotsAndDes {
    display: flex;
    flex-direction: row-reverse;
}