.overlay {
    border-radius: 1.75rem 1.4375rem 0rem 0rem;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
    width: 100%;
}

.outerLay {
    display: flex;
    bottom: 0;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.BgOverlay {
    background-color: rgba(1, 5, 43, 0.28);
    z-index: 3;
}

.titleAndIcon {
    display: flex;
    flex-direction: row;
     column-gap: 10vw; 
    /* width: 90%; */
    justify-content: space-evenly;
}

#emoji-trigger {
    background: none; /* Removes default background */
    color: inherit; /* Inherits text color from parent */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font from parent */
    cursor: pointer; /* Ensures the cursor appears clickable */
    outline: inherit;
}

.catTitle {
    width: 60vw;
    height:5.5vh;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 85px 24px 0px rgba(171, 173, 191, 0.00), 0px 55px 22px 0px rgba(171, 173, 191, 0.01), 0px 31px 18px 0px rgba(171, 173, 191, 0.05), 0px 14px 14px 0px rgba(171, 173, 191, 0.09), 0px 3px 7px 0px rgba(171, 173, 191, 0.10);
    border: none;
}

.outerTitleAndIcon {
    display: flex;
    width: 90%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2vh;
}


.popupTitle{
    font-size:1.3rem;
    font-weight:500;
}

.closeOverlay {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#\#F4B367 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F4B367;
}
#\#7B67F4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #7B67F4;
}
#\#F467AB {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F467AB;
}
#\#F47867 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F47867;
}
#\#678EF4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #678EF4;
}
#\#85E7A0 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #85E7A0;
}
#\#67CAF4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #67CAF4;
}
#\#FFEF9D {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FFEF9D;
}
#\#FBEBD7 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FBEBD7;
}
#\#04905E {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #04905E;
}
#\#F95050 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F95050;
}
#\#DADADA {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #DADADA;
}

.outerColors {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #EDEFF7;
    row-gap: 1.7vh;
    align-items: center;
    padding: 0.8vh 0;
    width:100%;
}


.colorsRow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.colorsContainer {
    width: 90%;
    row-gap: 1.7vh;
    display: flex;
    row-gap: 1.7vh;
    flex-direction: column;
}

.color-selected {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.16em solid #6775F4;
}



.saveBtn {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 15.375rem;
    height: 2.75rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    /* h2 - sub titles */
    font-family: Heebo;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.paddingDiv {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    width:90%;
}


.outerColorsAndBtn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap:3vh;
}
.emoji-keyboard {
    border: 1px solid #ccc;
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 74%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
}

    .emoji-keyboard.visible {
        opacity: 1;
        visibility: visible;
        padding: 2vh 5vw;
        width: 90%;
    }

.emoji-categories {
    display: flex;
    justify-content: center; /* Centers the buttons in the emoji keyboard */
    gap: 10px; /* Spaces out the buttons */
    margin-bottom: 10px; /* Gives some space between the buttons and the emojis */
}

.category-button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #e0e0e0; /* Neutral background for inactive buttons */
    border: 1px solid #ccc; /* Adds a border to distinguish the buttons */
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s; /* Smooth transition for background color change */
}

    .category-button.active {
        background-color: #007bff; /* Highlight color for the active button */
        color: white; /* Ensures text is visible on active button */
    }

.emoji {
    font-size: 1.6em;
}

.keyBoardAndBtn{
    display:flex;
    flex-direction:column;
}