@using CountOnIt.Shared.Models.present.toShow
@using CountOnIt.Shared.Models.present.toAdd
@using CountOnIt.Shared.Models.present.toEdit
@using Microsoft.AspNetCore.Components.Web
@inject HttpClient Http

<button @onclick="(() => iseditBtnClicked = !iseditBtnClicked)">עריכה🖋️</button>
<button @onclick="(() => isdeleteBtnClicked = !isdeleteBtnClicked)">מחיקה🗑️</button>

@if (iseditBtnClicked)
{
    editBtnClicked.InvokeAsync();
    iseditBtnClicked = !iseditBtnClicked;
}

@if (isdeleteBtnClicked)
{
    deleteBtnClicked.InvokeAsync();
    isdeleteBtnClicked = !isdeleteBtnClicked;
}



@code {


    [Parameter]
    public EventCallback editBtnClicked { get; set; }

    [Parameter]
    public EventCallback deleteBtnClicked { get; set; }

    public bool iseditBtnClicked;
    public bool isdeleteBtnClicked;



}
