.optionsMenu {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.outerTrans {
    border-radius: 0.25rem;
    border: 1px solid #D6D9F1;
    background: #F9F9F9;
    width: 95%;
    display: flex;
    justify-content: center;
}

.outerMegaTrans{
    display:flex;
    justify-content:center;
}

.outerTransDeatils {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1vh 0;
    width: 95%;
}


.outerDateAndTag {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
}

.transTitle {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
}

.tag {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 0.25rem;
    width: 5.5rem;
    height: 2rem;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outerTitleDateAndTag {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    row-gap: 2vh;
}

.outerLowerPart {
    display: flex;
    background-color: rgba(251, 251, 251, 1);
    flex-direction: column;
    box-shadow: 0px 25px 25px 0px rgba(39, 53, 160, 0.09), 0px 6px 14px 0px rgba(39, 53, 160, 0.10);
    row-gap: 2vh;
}

.outerDotsAndAmount {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    column-gap: 1.2vh;
    justify-content: flex-end;
}

.fakeTag {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 0.25rem;
    width: 5.5rem;
    height: 2rem;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagsValue {
    font-size: 1.2rem;
    font-weight: 500;
}


.outerDotsAmountAndProp {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.paymentMethod {
    background-color: #EDEFF7;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outerProp {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 1vh;
}

.outerTextAndDes {
    display: flex;
    flex-direction: row;
    column-gap: 1vh;
}

.desBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.transDes{

}

.outerDes {
    display: flex;
}

.outerDotsAndOptionsTrans {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

#options {
    position: absolute;
    z-index: 4;
    margin-left: 4vw;
}


.importanceBtns input[type="radio"] {
    display: none;
}

.importanceBtns label {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s, background 0.3s;
    padding: 10px 20px;
    border-radius: 0.375rem;
}

.importanceBtns input[type="radio"]:checked + label {
    color: #6775F4;
    background: #EDEFF7; /* Soft blue background for selected state */
}

.outerOverdraft {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    /* max-width: 500px; */
    padding: 3.5vh;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0px 147px 41px 0px rgba(21, 36, 147, 0.00), 0px 94px 38px 0px rgba(21, 36, 147, 0.01), 0px 53px 32px 0px rgba(21, 36, 147, 0.05), 0px 24px 24px 0px rgba(21, 36, 147, 0.09), 0px 6px 13px 0px rgba(21, 36, 147, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3vh;
    row-gap: 2.4vh;
    height: 80%;
}


.overlay {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    z-index: 999; /* Lower than modal but higher than anything else */

    background-color: rgba(1, 5, 43, 0.28);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overdraftWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: right; */
    justify-content: space-around;
    height: 100%;
}

.outerText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleText {
    color: red;
    font-weight: 600;
}

.outerTranferTable {
    display: flex;
    width: 102%;
    justify-content: space-between;
}

.outerCurrentGap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 1.5vh 0 2vh;
}


.currentGap {
    box-shadow: 0px 19px 5px 0px rgba(40, 93, 200, 0.00), 0px 12px 5px 0px rgba(40, 93, 200, 0.01), 0px 7px 4px 0px rgba(40, 93, 200, 0.05), 0px 3px 3px 0px rgba(40, 93, 200, 0.09), 0px 1px 2px 0px rgba(40, 93, 200, 0.10);
    background-color: #EDEFF7;
    text-align: center;
    border-radius: 0.25rem;
    border: none;
    padding: 1vh 1vh;
    font-size: 1.6rem;
    width: 75%;
}

.currency-symbolOverDraft {
    position: absolute;
    right: 59vw;
    pointer-events: none;
    padding-top: 1.1vh;
}

.lineBetweenOverdraft {
    width: 10.542rem;
    background-color: #D6D9F1;
    height: 0.2vh;
    position: relative;
    bottom: 1.5vh;
}


.outerFromSubCats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFF7;
    width: 38vw;
    padding: 1vh;
    border-radius: 0.25rem;
}

.outerToSubCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEFF7;
    width: 38vw;
    padding: 1vh;
    border-radius: 0.25rem;
}

.subCatsDrop {
    width: 97%;
    height: 70%;
    background: #D6D9F1;
    padding: 1vh;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
}

.outerDropAndPoly {
    display: flex;
    width: 100%;
}

.subCatsDropDown {
    display: flex;
    flex-direction: column;
    border-radius: 0.1875rem;
    border: 0.2px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    justify-content: center;
    width: 36.5%;
    padding: 0.8vh 1vw;
    z-index: 2;
    position: absolute;
    margin-top: 3.8vh;
    box-shadow: 0px 31px 9px 0px rgba(0, 0, 0, 0.00), 0px 20px 8px 0px rgba(0, 0, 0, 0.02), 0px 11px 7px 0px rgba(0, 0, 0, 0.06), 0px 5px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.outerDropAndOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outerBudgets {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    border-radius: 0.1875rem;
    border: 1px solid #D6D9F1;
    width: 97%;
    row-gap: 0.2vh;
    padding: 0 2vw 1vh;
}

.titleDivder {
    width: 4.5rem;
    background-color: #D6D9F1;
    height: 0.2vh;
    position: relative;
    bottom: 0vh;
}

.outerBudgetTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}


.outerBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}


.primery-buttonOverDraft {
    border-radius: 0.25rem;
    background: #6775F4;
    color: #6775F4;
    width: 10rem;
    height: 2.3rem;
    flex-shrink: 0;
    color: #F9F9F9;
    text-align: center;
    font-family: Heebo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.thirdBtn {
    text-decoration: underline;
    font-weight: 700;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}