@inherits LayoutComponentBase

<div style="background-color:#EDEFF7">
    @*<div class="sidebar">
        <NavMenu />
    </div>
*@
    <main>  <div class="top-row auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>